{% extends 'app/base.html' %}
{% block content%}
    <h1>About</h1>
    <br>
    <div class="paragraph-container">
        <p>Welcome to Fitnest! We're passionate about helping you achieve your fitness goals.
            <br> Whether you're a seasoned athlete or just starting your fitness journey,<br>
             we offer a supportive community and resources to guide you every step of the way. </p>
    </div>
    <br>
    <div class="paragraph-container">
        <p>Here you'll find information about our programs, trainers,<br>
             and community initiatives designed to empower you to live a healthier, more active life.<br>
             Explore our site to learn more about how Fitnest can help you reach your full potential.</p>
    </div>
    
{% endblock content %}